<div class="marginTopDiv">
    <div class="search">
        <input type="search" matInput>
        <button>+</button>
    </div>
    <div class="container">
        <div class="card-item">
            <div class="card-image">
                <img src="/assets/images/myntra1.webp" alt="">
            </div>
            <div class="textSection">
                title of item
            </div>
            <div class="codePrice">
                <div class="code">1234</div>
                <div class="price">500</div>
            </div>
            <div class="buttonSection">
                <div class="editButton">
                    <img src="/assets/images/edit.png" alt="">
                </div>
                <div class="deleteButton">
                    <img src="/assets/images/delete.png" alt="">
                </div>
            </div>
        </div>

        <div class="card-item">
            <div class="card-image">
                <img src="/assets/images/myntra1.webp" alt="">
            </div>
            <div class="textSection">
                title of item
            </div>
            <div class="codePrice">
                <div class="code">1234</div>
                <div class="price">500</div>
            </div>
            <div class="buttonSection">
                <div class="editButton">
                    <img src="/assets/images/edit.png" alt="">
                </div>
                <div class="deleteButton">
                    <img src="/assets/images/delete.png" alt="">
                </div>
            </div>
        </div>

        <div class="card-item">
            <div class="card-image">
                <img src="/assets/images/myntra1.webp" alt="">
            </div>
            <div class="textSection">
                title of item
            </div>
            <div class="codePrice">
                <div class="code">1234</div>
                <div class="price">500</div>
            </div>
            <div class="buttonSection">
                <div class="editButton">
                    <img src="/assets/images/edit.png" alt="">
                </div>
                <div class="deleteButton">
                    <img src="/assets/images/delete.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>