.buttonSection img {
  height: 23px;
  width: 23px;
}

.card-image img {
  width: 100%;
  height: 11rem;
  // height: 5rem;
}

.buttonSection {
  display: flex;
}

.buttonSection div {
  text-align: center;
  background-color: #533;
  padding: 4px;
  border: none;
  flex: 1;
}

.editButton {
  border-radius: 5px 0px 0px 5px;
}
.deleteButton {
  border-radius: 0px 5px 5px 0px;
}

.codePrice {
  display: flex;
}

.codePrice div {
  flex: 1;
}

.card-item {
  border: 1px solid grey;
  float: left;
  width: 49%;
  // height: 15rem;
  margin-top: 3px;
  border-radius: 5px;
}

.textSection {
  font-size: 18px;
  font-weight: 600;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.codePrice .price {
  font-size: 16px;
  font-weight: 500;
  padding-left: 4px;
}
.codePrice .code {
  font-size: 16px;
  font-weight: 400;
}
.container {
}

.searchBar input {
  font-size: 16px;
  color: rgba(33, 33, 34, 0.775);
  border: none;
  outline: none;
  width: 82%;
  padding-right: 8px;
  height: 40px;
  padding: 10px 0;
}

.searchBar button {
  border: 1px solid lightgray;
  background-color: #fff;
  color: rgba(33, 33, 34, 0.775);
  font-size: 30pt;
  font-weight: 500;
  font-family: arial;
  padding: 0px;
  width: 15%;
  margin: 5px;
  box-shadow: 1px 1px 5px 1px #ccc;
}

.toast {
  width: 100%;
  margin: auto;
  top: 50%;
  position: fixed;
  font-size: 18px;
  font-weight: 500;
  z-index: 10;
  display: block;
}

.toast div {
  background-color: rgba(33, 33, 34, 0.7);
  margin: 20%;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.hide {
  display: none;
}
