<mat-drawer-container class="main-container" autosize hasBackdrop="true">
  <mat-toolbar color="primary" role="heading" class="nav nav-title">
    <!-- <span class="nav-title"> -->
    <span (click)="drawer.toggle()">
      <svg viewBox="0 0 80 60" width="20" height="30" class="icon-svg">
        <rect width="80" height="8"></rect>
        <rect y="30" width="80" height="8"></rect>
        <rect y="60" width="80" height="8"></rect>
      </svg>
    </span>
    <!-- <img src="/assets/images/logo.jpg" alt=""> -->
    <a routerLink="/" class="header-title">Artiste Doodles</a>
    <!-- </span> -->
    <!-- <span class="example-spacer"></span> -->
    <!-- <button matTooltip="Save Draft" routerLink="/contents">See all Content</button> -->
  </mat-toolbar>

  <mat-drawer #drawer mode="over" class="sidenav">
    <div class="side-nav-icon">
      <img src="/assets/images/logo.jpg" alt="">
    </div>
    <div class="side-nav-item" [class.activeLink]="activeLink===''" routerLink="/" (click)="drawer.toggle()">
      <a (click)="activeLink = ''">Home</a>
    </div>
    <div class="side-nav-item" [class.activeLink]="activeLink==='products/er'" routerLink="/products/er"
      (click)="drawer.toggle()">
      <a (click)="activeLink = 'products/er'">Earrings</a>
    </div>
    <div class="side-nav-item" [class.activeLink]="activeLink==='products/nl'" routerLink="/products/nl"
      (click)="drawer.toggle()">
      <a (click)="activeLink = 'products/nl'">Necklaces</a>
    </div>
    <div class="side-nav-item" [class.activeLink]="activeLink==='products/js'" routerLink="/products/js"
      (click)="drawer.toggle()">
      <a (click)="activeLink = 'products/js'">Jewellery Set</a>
    </div>
    <div class="side-nav-item" [class.activeLink]="activeLink==='about'" routerLink="/about" (click)="drawer.toggle()">
      <a (click)="activeLink = 'about'">About Us</a>
    </div>
    <div class="side-nav-item" [class.activeLink]="activeLink==='contact'" routerLink="/contact"
      (click)="drawer.toggle()">
      <a (click)="activeLink = 'contact'">Contact Us</a>
    </div>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>