#slider .carousel-item {
  height: 600px;
}

.carousel-caption {
  font-size: 18px;
}

.carousel-item > img {
  width: 100%;
  padding-top: 1%;
}
.carousel-inner img {
  width: 100%;
  height: 750px;
}
